<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/navbar", {url: "/directors"}) %>
    <h1><%= title %></h1>
    <% if(locals.errors) {%>
        <p><%=errors%></p>
    <%}%>
    <form action="/directors/<%=url%>" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" <% if(locals.data) { %> value="<%=data.name%>"<%}%> required>
        <label for="birth">Birth Year</label>
        <input type="number" name="birth" id="birth" <% if(locals.data) { %> value="<%=data.birth_year%>"<%}%> required>
        <label for="nation">Nationality</label>
        <input type="text" name="nation" id="nation" <% if(locals.data) { %> value="<%=data.nationality%>"<%}%> required>
        <button>Submit</button>
    </form>
</body>
</html>
