<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/navbar", {url: "/directors"}) %>
    <h1><%= title %></h1>
    <% directors.forEach(director => { %>
    <div class="director-container">
        <h2><%= director.name %></h2>
        <div class="links">
            <a href="directors/<%=director.id%>">
                <button>Movies</button>
            </a>
            <a href="auth?base=directors&action=update&id=<%=director.id%>">
                <button>Update</button>
            </a>
            <a href="auth?base=directors&action=delete&id=<%=director.id%>">
                <button>Delete</button>
            </a>
        </div>
        <p>Born in <%= director.birth_year%></p>
        <p>Nationality: <%= director.nationality%></p>
    </div>
    <%})%>
</body>
</html>
